.row{
  background-color: #eeeeee;
  align-items: center;
  margin-bottom: 4px;
}

ion-button{
  width:100%;
}

ion-footer{
  background-color: #eb445a;
  align-items: center;

}
.fechar{
  width:100%;
  height: 80px;


}
