ion-content{
  height: 100%;
}
.btnPay{
  width:100%;
}
.input{
  margin: 20px 0 10px 0;
}
.entrega{
  color:#777;
}
.payment{
  border-bottom: 1px solid #dadada;
}
.btnPagamento{
  height: 25%;
  color: #777;
}
ion-footer{
  padding-bottom: 20px;
  background-color: #fff;
}
