<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Pedidos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <ion-label *ngFor="let t of teste">

    <ion-item color="success" size="large"> {{t[0]}}</ion-item>

    <ion-item *ngFor="let y of t" (click)="abrirModal(y.codPedido, y.valor, y.cliente, y.tipo, y.dataPedido)" >

      {{y.cliente}}

        <ion-item lines="none" slot="end" >
          # {{y.codPedido}}
        </ion-item>

    </ion-item>

  </ion-label>


</ion-content>

