<ion-header>
  <ion-toolbar color="dark">


    <ion-title (click)="voltar()"><ion-icon name="arrow-undo-outline">

    </ion-icon><ion-label> Pedidos</ion-label></ion-title>

    <!--<ion-item slot="end" color="dark">{{sum | currency:'BRL'}}</ion-item>-->
    <ion-item slot="end" color="dark" (click)="valida()">{{sum | currency:'BRL'}}</ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-label *ngFor="let x of datas">

    <ion-item color="success" size="large" slot="header"> {{x[0] | date :'fullDate'}}</ion-item>
    <!-- o slice(1) tem a função de pular o primeiro elemento do array X que no caso era vazio-->
    <ion-item slot="content" *ngFor="let y of x.slice(1)" (click)="abrirModal(y.codPedido, y.valor, y.local, y.preco, y.cliente, y.tipo, y.dataPedido)">
      {{y.cliente}}

      <ion-item lines="none" slot="end" *ngIf="y.tipo==='Pendente'" color="danger">
        # {{y.codPedido}}
      </ion-item><ion-item lines="none" slot="end" *ngIf="y.tipo!=='Pendente'">
        # {{y.codPedido}}
      </ion-item>

    </ion-item>

  </ion-label>
</ion-content>

<ion-footer>
</ion-footer>
