<ion-header>
  <ion-toolbar color="dark">
    <ion-title> {{titulo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-list>

    <ion-item lines="full" (click)="adicionadoToast()" *ngFor="let Produtos of listaProduto">
      <ion-thumbnail slot="start">
        <img [src]="Produtos.imagem"/>
      </ion-thumbnail>

      <ion-label>
        <div>
          <h1>{{Produtos.nome}}</h1>
          <p>R$ {{Produtos.valor}}</p>
        </div>
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
