<ion-header>
  <ion-toolbar color="dark">
    <ion-title> {{titulo}} </ion-title>
    <ion-icon name="add-circle" slot="end" (click)="teste()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.1">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-accordion-group>
    <!----><ion-accordion value="combos">
      <ion-item slot="header">
        <ion-icon class="size" name="fast-food-outline"></ion-icon>
        <ion-label>Combos</ion-label>
      </ion-item>

      <ion-list slot="content">
        <ion-item-sliding *ngFor="let c of combo">
          <ion-item-options>
            <ion-item-option color="danger" (click)="remover(c.idProduto, c.nome)">Excluir</ion-item-option>
          </ion-item-options>
          <ion-item lines="full" (click)="adicionaItem(c.idProduto, c.nome)">
            <ion-thumbnail slot="start">
              <img class="imagemProduto" [src]="c.imagem" />
            </ion-thumbnail>

            <ion-label>
              <div>
                <h1>{{c.nome}}</h1>
                <p>{{c.descricao}}</p>
                <p>{{c.valor | currency:'BRL'}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-accordion>

    <!----><ion-accordion value="Individuais">
      <ion-item slot="header">
        <ion-icon class="size" name="information-outline"></ion-icon>
        <ion-label>Individuais</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item-sliding *ngFor="let i of individuais">
          <ion-item-options>
            <ion-item-option color="danger" (click)="remover(i.idProduto, i.nome)">Excluir</ion-item-option>
          </ion-item-options>

          <ion-item lines="full" (click)="adicionaItem(i.idProduto, i.nome)">
            <ion-thumbnail slot="start">
              <img class="imagemProduto" [src]="i.imagem" />
            </ion-thumbnail>

            <ion-label>
              <div>
                <h1>{{i.nome}}</h1>
                <p>{{i.descricao}}</p>
                <p>{{i.valor | currency:'BRL'}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-accordion>

    <!----><ion-accordion value="Batatas">
      <ion-item slot="header">
        <ion-icon class="size" name="stats-chart-outline"></ion-icon>
        <ion-label>Batatas</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item-sliding *ngFor="let b of batatas">
          <ion-item-options>
            <ion-item-option color="danger" (click)="remover(b.idProduto, b.nome)">Excluir</ion-item-option>
          </ion-item-options>

          <ion-item lines="full" (click)="adicionaItem(b.idProduto, b.nome)">
            <ion-thumbnail slot="start">
              <img class="imagemProduto" [src]="b.imagem" />
            </ion-thumbnail>

            <ion-label>
              <div>
                <h1>{{b.nome}}</h1>
                <p>{{b.descricao}}</p>
                <p>{{b.valor | currency:'BRL'}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-accordion>

    <!----><ion-accordion value="Refrigerantes">
      <ion-item slot="header">
        <ion-icon class="size" name="pint-outline"></ion-icon>
        <ion-label>Refrigerantes</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item-sliding *ngFor="let r of refrigerantes">
          <ion-item-options>
            <ion-item-option color="danger" (click)="remover(r.idProduto, r.nome)">Excluir</ion-item-option>
          </ion-item-options>

          <ion-item lines="full" (click)="adicionaItem(r.idProduto, r.nome)">
            <ion-thumbnail slot="start">
              <img class="imagemProduto" [src]="r.imagem" />
            </ion-thumbnail>

            <ion-label>
              <div>
                <h1>{{r.nome}}</h1>
                <p>{{r.descricao}}</p>
                <p>{{r.valor | currency:'BRL'}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-accordion>

    <!----><ion-accordion value="Adicionais">
      <ion-item slot="header">
        <ion-icon class="size" name="add-outline"></ion-icon>
        <ion-label>Adicionais</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item-sliding *ngFor="let a of adicionais">
          <ion-item-options>
            <ion-item-option color="danger" (click)="remover(a.idProduto, a.nome)">Excluir</ion-item-option>
          </ion-item-options>

          <ion-item lines="full" (click)="adicionaItem(a.idProduto, a.nome)">
            <ion-thumbnail slot="start">
              <img class="imagemProduto" [src]="a.imagem" />
            </ion-thumbnail>

            <ion-label>
              <div>
                <h1>{{a.nome}}</h1>
                <p>{{a.descricao}}</p>
                <p>{{a.valor | currency:'BRL'}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-accordion>

    <!----><ion-accordion value="Doces">
      <ion-item slot="header">
        <ion-icon class="size" name="sparkles-outline"></ion-icon>
        <ion-label> Doces</ion-label>
      </ion-item>
      <ion-list slot="content">

        <ion-item-sliding *ngFor="let d of doces">
          <ion-item-options>
            <ion-item-option color="danger" (click)="remover(d.idProduto, d.nome)">Excluir</ion-item-option>
          </ion-item-options>

          <ion-item lines="full" (click)="adicionaItem(d.idProduto,d.nome)">
            <ion-thumbnail slot="start">
              <img class="imagemProduto" [src]="d.imagem" />
            </ion-thumbnail>

            <ion-label>
              <div>
                <h1>{{d.nome}}</h1>
                <p>{{d.descricao}}</p>
                <p>{{d.valor | currency:'BRL'}}</p>
              </div>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-accordion>

    <!----><ion-accordion value="Descontos">
      <ion-item slot="header">
        <ion-icon class="size" name="wallet-outline"></ion-icon>
        <ion-label>Descontos</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item
          lines="full"
          *ngFor="let e of descontos"
          (click)="adicionaItem(e.idProduto, e.nome)"
        >
          <ion-thumbnail slot="start">
            <img class="imagemProduto" [src]="e.imagem" />
          </ion-thumbnail>

          <ion-label>
            <div>
              <h1>{{e.nome}}</h1>
              <p>{{e.descricao}}</p>
              <p>{{e.valor | currency:'BRL'}}</p>
            </div>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>

<ion-footer>
  <ion-button color="success" expand="block" size="large" (click)="carrinho()">

    {{infoButton}}

  </ion-button>
</ion-footer>
