<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-title>Pedido # {{cod}}</ion-title>
    </ion-item>
    <ion-item lines="none" slot="end" (click)="excluirPedido(cod)"><ion-icon name="trash" ></ion-icon></ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="full">
    <ion-item lines="none"><h4>  <strong>Cliente: </strong> {{nomeCliente}}</h4></ion-item>
    <ion-item lines="none"  slot="end" ><h4>{{tipoPag}}</h4></ion-item>
  </ion-item>
  <ion-list>
    <ion-item lines="full">
      <ion-item slot="start" lines="none"><h5><strong>Produto</strong></h5></ion-item>
      <ion-item lines="none"><h5><strong>Qtd</strong></h5></ion-item>
      <ion-item slot="end" lines="none"><h4><strong>Valor</strong></h4></ion-item>
    </ion-item>
    <ion-item *ngFor="let li of lista" lines="full">

      <ion-item lines="none" slot="start" >
        <h5 >{{li.nome}} </h5>
      </ion-item>
      <ion-item lines="none">
        <h5>{{li.quantidade}}</h5>
      </ion-item>
      <ion-item lines="none" slot="end">
        <h4 >R$ {{li.valor}}</h4>
      </ion-item>

    </ion-item>
  </ion-list>




</ion-content>
<ion-item><h2><strong>Total: </strong></h2><h2 slot="end"><strong>R$ {{total}}</strong></h2></ion-item>
<ion-footer>

  <ion-button expand="full" size="large" (click)="fecharModal()">fechar</ion-button>

</ion-footer>
